@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #8d8383;
    --laranja: #00c3ff;
    --azul-degrade: linear-gradient(97.54deg, #590496 35.49%, #5b00b0d3 165.37%);
    --fonte-principal: "Poppins";
    --azul: #590089;
}
:root {
    --cor-de-fundo: #EBECEE;
    --branco:	#FFFFFF;
    --laranja:	#00d0ff;
    --azul-degrade: linear-gradient(97.54deg, #41008b 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul:	#5b0082;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;|
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}